# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ari Lipschultz</title>
    <meta name="description" content="The US Army">
    <meta name="description" content="You can watch videos and stuff">
    <meta name="description" content="You can watch anime shows here instead of touching grass">
    <meta name="description" content="You can share stuff with friends or watch the comments call kids the most horrible things">
    <meta name="description" content="Some guy from 7 years ago probably has a solution to the most random problem you have">
    <meta property="og:title" content="Curious George">
    <meta property="og:description" content="Curious George is a goated show">
    <meta property="og:image" content="https://images.saymedia-content.com/.image/t_share/MTc0MjQ1NDM1NjU1ODU3NjYw/why-your-kids-shouldnt-watch-curious-george.jpg">
    <meta property="og:url" content="https://www.west-mec.edu/">
    <meta property="og:name" content="Good Show">
    <meta property="og:type" content="website">
</head>
<body>
<h1>Drake-Boi</h1>
<p>First Website</p>
<p>Upload Page</p>
<input type="text" placeholder="Type Here">Half Life 3 Confirmed </Input>
<a title="north murf" href="https://www.west-mec.edu/">West-MEC</a>
<p>Japanese ご飯が熱い。</p>
<a href="./about.html">About Page Test Open Graph</a>
</body>
</html>